POSTGRERS_DB=market_site
POSTGRES_USER=market1
POSTGRES_PASSWORD=1111
HOST=localhost

SECRET_KEY=django-insecure-7ugjhgygn-^%z)@bub3z(t)=0j0q34_8hfe*4j4$5auvsy$zwp

REGISTRATION_SALT=d3375422-8bd2-11ec-ad15-698d37997427

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=gorbachenkomisha@gmail.com
EMAIL_HOST_PASSWORD=G-617425