{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'main/forms.css' %}">
{% endblock style %}


{% block content %}
{% if form.subject.errors %}
<ol>
  {% for error in form.subject.errors %}
  <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
</ol>
{% endif %}
<div class="container-form">
  <section>
    <H3>Create new phone</H3>
    <form method="post" class='form_style'>
      {% csrf_token %}
      <tr>{{ form.as_ul }}</tr>
      <input type="submit" value="{% trans 'Submit' %}" />
    </form>
  </section>
</div>
{% endblock %}